.wrapper
  -fx-background: #fff
  -fx-padding: 10px
  -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
  -fx-font-size: 16px
  -fx-text-fill: #333

.f2
  -fx-max-width: 300px
  -fx-vgap: 10px
  -fx-hgap: 20px
  -fx-alignment: center

  &__input
    -fx-background-color: transparent
    -fx-border-color: #ddd
    -fx-border-radius: 5px

    &-invalid
      -fx-border-color: red

  &__coordinates
    -fx-min-height: 50px
    -fx-border:
      color: red
      weight: 3px

  &__resultText
    -fx-max-width: 300px




