.wrapper
  -fx-background: #fff
  -fx-padding: 10px
  -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
  -fx-font-size: 16px
  -fx-text-fill: #333

.f2
  -fx-min-width: 300px
  -fx-vgap: 10px
  -fx-hgap: 20px
  -fx-alignment: top-center




