.wrapper
  -fx-background: #fff
  -fx-padding: 10px
  -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif
  -fx-font-size: 16px
  -fx-text-fill: #333
  -fx-alignment: top-center

  &__scroll
    -fx-background-color: transparent
    -fx-min-width: 400px

.f2
  -fx-vgap: 10px
  -fx-hgap: 20px




