@import ../../styles/base

.profile-screen

  .info-side
    -fx-min-width: $profile-info-width
    -fx-border-width: 0 1px 0 0
    -fx-border-color: #666
    -fx-min-height: 550px

  .data-side
    -fx-padding: 10px $base-padding
    -fx-background-color: $brand-color-1

  .info-side__avatar-container
    -fx-alignment: center

  .info-side__full-name
    -fx-font-size: 25px

  .info-side__username
    -fx-font-size: 12px

  .data-side__title
    -fx-font-size: $h1