@import ../../styles/base

.profile-screen
  -fx-background-color: red

  .info-side
    -fx-pref-width: 200px
    -fx-background-color: green

  .data-side
    -fx-background-color: blue

  .info-side__group
    -fx-border-color: #000

  .info-side__field
    -fx-border-color: #fff