@import ../../styles/base

.profile-screen
  -fx-background-color: red

  .info-side
    -fx-pref-width: $profile-info-width
    -fx-background-color: #282c47
    -fx-border-width: 0 2px 0 0
    -fx-border-color: #646464

    *
      -fx-text-fill: $brand-color-1

  .data-side
    -fx-background-color: $brand-color-1

  .info-side__group
    -fx-padding: 10px 0
    -fx-border-width: 0 0 1px 0
    -fx-border-color: rgba(255,255,255,0.1)

  .info-side__field

  .info-side__avatar-container
    -fx-alignment: center

  .info-side__button
    -fx-padding: 10px