@import _base

.wrapper
  -fx-pref-width: -fx-main-window-width
  -fx-pref-height: -fx-main-window-height
  -fx-background-color: -fx-main-top-color

.menu
  -fx-font-size: 12px

.toolbar

  &__tool
    @extend %baseButton

.filters

  &__title
    @extend %h1
