@import ../../styles/base

.training-screen

  .side-panel__group
    -fx-padding: $base-padding 0 25px 0

  .setup
    -fx-min-width: $profile-info-width
    -fx-min-height: 400px

  .setup__header
    -fx-padding: 10px 0 15px $base-padding

  .setup__get-started-field
    -fx-padding: 25px 0 0 $base-padding

  .screen__title
    -fx-font-size: $h1